body{
    background-image: url("source/retrato");
    background-position: center;
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
    background-attachment: fixed; 
    /* This is what makes the background image rescale based on the container’s size */ 
    background-size: cover;
    background-color: aliceblue;
    max-width: 100%;
    height: auto;
    color: #fff;
    font-family: "OverPass Mono", monospace;
    padding: 0;
    margin: 0;
}

p{
    font: 15px Arial, sans-serif;
}
#footer-img{
    width:5em;
    height: 5em;
}
.bar{
    background-color: #829acc;
    opacity: 0.55;
    padding: 10px;
    display: flex;
}